version: '3.3'
services:
    mongo:
        image: mongo:4.4.3-bionic
        # env_file:
        #     - .env
        environment:
            MONGO_INITDB_ROOT_USERNAME: username123
            MONGO_INITDB_ROOT_PASSWORD: password123
        volumes:
            - ./mongos:/data/db
        ports:
            - "27017:27017"
            